<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CasoEstudio #2 - Grupo 6</title>

    <link href="~/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/template/css/sb-admin-2.min.css" rel="stylesheet">



</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            <li class="nav-item">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-book"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Caso de Estudio #2</div>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link">
                    <i class="fas fa-fw fa-user"></i>
                    <span>GRUPO 6</span>
                </a>
            </li>

            <li class="nav-item">
                <hr class="dropdown-divider">
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ConsultaCasas","Casas")">
                    <i class="fas fa-search"></i>
                    <span>Consulta de Casas</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("AlquilerCasas","Casas")">
                    <i class="fas fa-key"></i>
                    <span>Alquiler de Casas</span>
                </a>
            </li>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
                    <div class="container-fluid text-center">
                        <span class="mx-auto">PROGRAMACION AVANZADA</span>
                    </div>
                </nav>

                @RenderBody()

            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <strong>Caso de Estudio #2 </strong> - Grupo 6
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <script src="~/template/vendor/jquery/jquery.min.js"></script>
    <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/template/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/template/js/sb-admin-2.min.js"></script>

    <script src="~/template/vendor/chart.js/Chart.min.js"></script>

    <script src="~/template/js/demo/chart-area-demo.js"></script>
    <script src="~/template/js/demo/chart-pie-demo.js"></script>
</body>

</html>
