@{
    ViewBag.Title = "Home";
}
<div class="container my-5 text-center">
    <div class="jumbotron">
        <h1 class="display-4">¡BIENVENIDO!</h1>
        <p class="lead">Caso de Estudio #2 - GRUPO 6</p>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary mx-2" href="@Url.Action("ConsultaCasas","Casas")">CONSULTA</a>
            <a class="btn btn-primary mx-2" href="@Url.Action("AlquilerCasas","Casas")">ALQUILER</a>
        </div>
    </div>
</div>